
* ,
*::before 
,*::after {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    padding: 0;
    background-color: #232328;
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.top-link {
display: flex;
flex-direction: row;
width: 100%;
height: 40px;
font-size: 14px;
color: #ffffff;
font-family: 'IBM Plex Mono', monospace;
text-decoration: none;
}
.top-link:hover {
    color: #ddd8d8;
    transition: color .3s ease-in-out;
    }
.op-link-txt {
    display: flex;
    flex-direction: row;
    
}
.top-box-link {
    background: linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.nav-header {
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: rgba(35,35,40,0.8);
    backdrop-filter: blur(17px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    height: 77px;
    width: 100%;
    z-index: 9999;
}
.count-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1150px ;
    height: auto;
}
.headers-txt {
    font-weight: bold;
    width: 80%;
    display: flex;
    color: #ffffff;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.space-nav-text{
    display: flex;
    margin-left: 46px;
}
.space-nav-text:hover {
    color: #47474b;
    transition: color .2s ease-in-out;
}
.Use-ton:hover {
    color: #47474b;
    transition: color .2s ease-in-out;
}
.github-can {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    height: 100%;
    width: 7.5%;
    align-items: center;
    justify-content: space-between ;
}
.txt-diamond-calu {
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    padding-top: 60px;
    height: 400px;
    font-size:  72px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-items: center;
    
}
.S1-background {
    padding: 40px 0px;
    width: 100%;
    max-width: 1150px;
    margin: auto;
}
.count-txt-welcome {
    display: flex;
    flex-direction: row;
    width: 1150px;
    height: 400px;
}

.txt-welcome-1 {
    cursor:context-menu  ;
    color: rgba(32, 142, 197, 0.993);
}
.txt-welcome , .txt-welcome-1 {
    cursor:context-menu  ;
    font-weight:bold;
}
.p-count {
    cursor:context-menu  ;
    color: hsla(0,0%,100%,0.7);
    padding-top: 15px;
    width: 73%;
}
.p-welcome {
    font-size: 20px;
    line-height: 30px;
}
.welcome-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}
.defult-count {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
  width: 1150px;
}
.Join-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    border-radius: 30px;
    font-weight: 700;
    border: 0px;
    height: 56px;
    width: 235px;
    color: #ffffff;
    background-color: #08c;
    text-decoration: none;
    font-size: 20px;
}
.Join-button:hover {
    box-shadow:0px 0px 30px 0px rgba(40, 146, 199, 0.1);
    cursor: pointer ;
    background-color: rgb(40, 146, 199);
} 
.github-link {
    padding-left:  15px;
}
.github-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    border-radius: 30px;
    border: 0px;
    height: 56px;
    width: 164px;
    color: #ffffff;
    background-color: #303035;
    font-size: 20px;
}
.github-button:hover {
    cursor: pointer ;
    background-color: #47474b;
} 
.github-txt {
    font-weight:bolder;
}



/* bad az welcome */




.S2-white-background {
    padding-top: 150px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.S2-Main-title-class {
    display: flex;
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 56px;
    width: 550px;
    font-weight:bolder;
    flex-direction: column;
    align-items: center;
    
}
.top-pading {
    padding-top:15px ;
}
.S2-F1-txt-2 {
    text-align: center;
    color: rgba(121, 121, 122 , 0.8);
    font-size: 19px;
}
.S2-boxes {
    width: 1200px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
}
.S2-box {
    overflow: hidden;
    display:flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 21px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 11px;
    background-color: #f7f9fb;
    border-radius: 20px;
    width: 360;
    height: 150;
}
.S2-box-numbers {
    padding-top: 24px;
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
}
.S2-boxes-logos {
    color: rgba(236, 240, 243 , 0.7);
    margin-left: 35%;
    padding-bottom: 12px;
    display: flex;
}
/* mavared marbot be S3 */
.S3-white-background {
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.S3-big-box {
    /* background-color: linear-gradient (#f5f7fa ,#8ea2ab) ; */
    background-color: #f7f9fb;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1150px;
    align-items: flex-start;
    max-height: 500px;
    padding: 50px 80px;
    border-radius: 45px;
}
.S3-1-text {
    border: 1px solid #728a96;
    font-size: 16px;
    color: #7d939d;
    padding: 3px 12px;
    border-radius: 10px;
}
.S3-2-text , .same-main-size{
    width: 450px;
    padding: 15px 0px;
    font-size: 46px;
    font-weight: 800;
}
.S3-3-text {
    width: 420px;
    font-size: 16px;
    color: #7d939d;
}
.S3-4-icons {
    padding-top: 25px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.S3-4-icons-1-non {
    color: #08c;
    text-decoration: none;
    font-weight: 800;
}
.S3-4-icons-1 {
    padding-left: 20px;
    color: #08c;
    text-decoration: none;
    font-weight: 800;
}
.S4-white-background {
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #ffffff;
    padding-top: 80px;
    display: flex;
    max-width: 1150px;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}

.S4-doted-line {
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
    align-items: center;
    padding-top: 35px;
}
.S4-1-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #08c;
}
.S4-1-line {
    background-color: #e5f3fa;
    width: 400px;
    height: 2px;
}
.S4-big-dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
}
.S4-2-dot {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 100;

}
.S4-big-dot-cover {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #08c;
}
/* .S4-dotedline {
    display: block;
    top: 0;
    left : calc(66.6666666667% + 60px);
    width: 100vw;
    height: 2px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='728' height='2' viewBox='0 0 728 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M728 1L1.00002 1' stroke='%230088CC' stroke-opacity='0.1' stroke-width='2' stroke-linecap='round' stroke-dasharray='20 20'/%3E%3C/svg%3E%0A")
} */
.S4-dotedline-background {
    position: absolute;
    right: 0;
    width: 500;
    height: 2px;
}
.S4-2-text-count {
    padding-top: 30px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.S4-2-text-title {
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.S4-2-title {
    width: 300px;
    padding-top: 25px;
    color: #728a96;
    font-weight: 500;
}
.roadmap {
    padding-top: 25px;
    color: #08c;
    text-decoration: none;
}
.network-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 50px;
    padding-bottom: 60px;
}
.network-info .column {
    overflow: hidden;
    z-index: 5000;
    position: relative;
    padding: 24px;
    width: 30%;
    background-color: #f7f9fb;
    border-radius: 24px;
}  
.network-info .icon {
    height: 80px;
    z-index: 0;
    transform: translate(50%,-50%);
    top: 50%;
    right: 8px;
    position: absolute;
}
.network-info .title {
    font-size: 21px;
}
.network-info .count {
    font-size: 40px;
}
.container{
    padding: 40px 0px;
    width: 100%;
    max-width: 1150px;
    margin: auto;
    
  }
.center-text {
    text-align: center;
    width: 800px;
    font-size: 56px;
    padding-top: 150px;
}
.center-text-p2 {
    width: 1050px;
    text-align: center;
    
}
.main-table-box {
    cursor:context-menu ;
    width: 1150px;
    border-radius: 40px;
    border: 1px solid #dde3e6;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    
}
.box-shadow-for-tabel {
    margin-top: 15px;
    margin-left: 353px;
    border-radius: 35px;
    background-color: #f7f9fb;
    position: absolute;
    width: 220px;
    height: 600px;
}
.text-in-first-table {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 106px;
}
.text-in-main-table {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail-text-bold {
    font-size: 21px;
    width: 30%;
    height: 60px;
    font-weight: 700;
    padding: 40px 50px;
}
.detail-text {
    font-size: 21px;
    padding: 40px 50px;
    height: 60px;
    width: 25%;
    text-align: center;
}
.logo-boxes-table-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 185px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}
.logo-boxes-table-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 169px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}
.logo-boxes-table-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 103px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}
.p-text-bottom-table {
    text-align: center;
    width: 900px;
    color: #b8c5ca;
    padding-bottom: 120px;
}
.black-box-bold-text {
    padding-bottom:20px ;
    padding-top: 80px;
    font-weight: 700;
    color: white;
    font-size: 54px;
}
.S5-black-countiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background:  linear-gradient(0deg,#232328,#343437 101.47%);
    padding-bottom: 80px;
}
.bottom-in-black-continer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    padding-top: 35px;
}
.battons-in-black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 56px;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
}
.bottom-in-black-continer .blue-box-2 {
    background-color: #3b3b3e;
    padding:0px 42px ;
}
.bottom-in-black-continer .blue-box {
    background-color: #0088cc;
    padding:0px 28px ;
}
.S5-black-box {
    margin-top: 50px;
    background-color: #323236;
    width: 1050px;
    border-radius: 34px;
}
.S5-black-box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #29292e;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 54px;
}
.S5-black-box-dot {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.S5-black-box-header .dot1 {
    margin: 0px 5px;
    width: 13px;
    height: 13px;
    border-radius: 80px;
    background-color: #ed6a5e;
}
.S5-black-box-header .dot2 {
    margin: 0px 5px;
    width: 13px;
    height: 13px;
    border-radius: 80px;
    background-color: #f6be4f;
}
.S5-black-box-header .dot3 {
    margin: 0px 5px;
    width: 13px;
    height: 13px;
    border-radius: 80px;
    background-color: #62c554;
}
.S5-black-box-main {
    padding: 35px 0px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}
.S5-black-box-column {
    width: 100%;
    height: 400px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #3b3b3e;
}
.S5-black-box-column .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0px 20px 35px;
    height: 14%;
}
.S5-black-box-column .text:hover {
    font-weight: 800;
    padding: 13px 0px 13px 35px;
    height: 14%;
    transition: 0.2s ease-in-out;
    background-color: #39393c;
    border-right: 1px solid #0088cc;
}
.S5-black-box-column-paragraph {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-weight: 700;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.S5-black-box-column-paragraph .bold-text {
    font-size: 24px;
    font-weight: 600;
}
.S5-black-box-column-paragraph .paragraph {
    padding-top: 18px;
    font-size: 18px;
    line-height: 30px;
    
}
#link {
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: #07a0ec;
    padding-top: 25px;
}
#link:hover {
    transition: 0.2s ease-in-out;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: #60bfee;
    padding-top: 25px;
}
#hidden {
    text-decoration: none;
    color: #08c;
}
#hidden:hover {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #5dc7fc;
}
.S5-black-box-fotter {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 100%;

}
.S6-container {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    padding-top:180px ;
    width: 1150px;
    max-height: 1000px;
    padding-bottom: 230px;
}
.headtext-in-S6 {
    font-weight: 800;
    font-size: 56px;
    color: #232328;
}
.paragraph-in-S6 {
    font-size: 20px;

    line-height: 29px;

    padding-top: 20px;
    
    width: 560px;

    color: #728a96;
}
.link-bottons-S6 {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
}
.Links {
    font-size: 18px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #08c;
    text-decoration: none;
    font-weight: 800;
}
.duck-pic {
  height: 450px;
}
.S7-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1150px;
    background-color: #f7f9fb;
    border-radius: 48px;
    padding-bottom: 150px;
}
.S7-txt {
    padding-top: 55px;
    font-size: 56px;
    font-weight:800 ;
}
.S7-paragraph {
    padding: 25px 300px;
    text-align: center;
    color: rgba(121, 121, 122 , 0.8);
    font-size: 19px;
}
.S7-batton {
    color: #ffffff;

    font-weight: 800;

    text-decoration: none;

    height: 56px;
    width: 230px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    border-radius: 40px;
    background-color: #0088cc;
}
.S8-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1150px;
    text-align: center;
    padding-bottom: 60px;
}
.S8-txt {
    
    width: 650px;
    padding-top: 55px;
    font-size: 54px;
    font-weight:800 ;
}
.S9-cnt {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 1150px;
   padding-bottom: 140px;
}
.S9-boxes {
     text-decoration: none;

    width: 31.3333333%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.S9-logos {
    border-radius: 28px;
    width: 360px;
}
.S9-bold-text {
    padding-top: 15px;
    padding-left: 10px;
    
    color: #232328;

    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}
.S9-p-text {
    font-size: 20px;
    width: 280px;
    color: #728a96;

    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 16px;
}
.S9-link {
    padding-left: 10px;
    font-weight: 800;
    font-size: 18px;
    color: #08c;
}
.S10-cnt {
    width: 1150px;
}
.S10-link-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 320px;
    border-bottom: 1px solid #e5f3fa;
}
.S10-link-box {
    height: 160px;
    width: 16.66666666%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.S10-fotter-link {
    font-size: 18px;
    font-weight: 400;


    text-decoration: none;
    color:#728a96;


    padding: 5px 0px;
}
.S10-bold-text {
    padding-bottom: 10px;

    font-size: 20px;
    font-weight: 800;
}
.last-cnt {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25px;
}
.last-cnt-box {
    width: 80%;
}
.last-cnt-box-2 {
    width: 20%;
}
.last-cnt-logo {
    padding: 0px 5px;
    border-radius: 100%;
}